

@import url("https://fonts.googleapis.com/css?family=Roboto: 300, regular, 500, 700, &display=swap&subset=cyrillic-ext");
@import "fonts";


$fontFamily: "Roboto";



$minWidth: 320px;
$maxWidth: 1400;
$maxWidthContainer: 1140;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;


._container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    padding: 0px 20px;
}

